{% extends "main/template.html" %}

{% block extra_head %}
{% load staticfiles%}
{% endblock %}

{% block head_title %} | Delete{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div id="menu" class="col-md-6 col-md-offset-3 text-center down">
			<p>Are you sure you want to delete your account?</p>
			<br>
			<form method="post" action="{% url 'account_delete' %}">
			  {% csrf_token %}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			  {% endif %}
			  <button class="btn" type="Delete">Delete</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
