{% extends "main/template.html" %}

{% block extra_head %}
{% load staticfiles%}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'registration/css/reset.css' %}" type="text/css"/>
{% endblock %}

{% block head_title %} | Password{% endblock %}

{% block content %}
<h1 class="text-center">Change Password</h1>
<br><br>
<div class="container text-center" id="limit600">
	<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-group {% if 'oldpassword' in form.errors %}has-error{% endif %}">
			{% if "oldpassword" in form.errors %}
			<label class="control-label" for="inputError1">{{form.errors.oldpassword}}{{form.non_field_errors}}</label>
			{% endif %}
			{{ form.oldpassword|add_class:"form-control" }} 
		</div>
		<div class="form-group {% if 'password1' in form.errors %}has-error{% endif %}">
			{% if "password1" in form.errors %}
			<label class="control-label" for="inputError1">{{form.errors.password1}}{{form.non_field_errors}}</label>
			{% endif %}
			{{ form.password1|add_class:"form-control" }} 
		</div>
		<div class="form-group {% if 'password2' in form.errors %}has-error{% endif %}">
			{% if "password2" in form.errors %}
			<label class="control-label" for="inputError1">{{form.errors.password2}}{{form.non_field_errors}}</label>
			{% endif %}
			{{ form.password2|add_class:"form-control" }} 
		</div>
        <button class="btn" type="submit" name="action">Change Password</button>
    </form>
</div>
{% endblock %}
