{% extends "main/template.html" %}

{% block extra_head %}
{% load staticfiles%}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'registration/css/reset.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<h1 class="text-center">Password Reset</h1>
<div class="container text-center">
	{% if user.is_authenticated %}
	<div>{% include "account/snippets/already_logged_in.html" %}</div>
	{% endif %}
	<br>
	<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
	<br>
	<p>If you only forgot your username, still enter your e-mail address below. Just ignore the reset key.</p>
	<br><br>
	<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<input type="submit" class="btn btn-reset" value="Reset Password">
	</form>
	<br>
	<p>Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock %}
