{% extends "main/template.html" %}

{% block extra_head %}
{% load staticfiles%}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'registration/css/reset.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<h1 class="text-center">Verify Your E-mail Address</h1>
<div class="container text-center">
	<br>
    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
</div>
{% endblock %}
