{% extends "main/template.html" %}

{% block extra_head %}
{% load staticfiles%}
<link rel="stylesheet" href="{% static 'counter/css/count.css' %}" type="text/css"/>
<script src="{% static 'counter/js/Chart.min.js' %}"></script>
<script src="{% static 'counter/js/basic_counts.min.js' %}"></script>
<script src="{% static 'counter/js/counts.min.js' %}"></script>
{% endblock %}

{% block head_title %} | {{ counter.name }}{% endblock %}

{% block content %}
<!-- Counter Title -->
<div class="text-center" id="create-space">
	<div class="name"><h2 title="Edit name" class="glyphicon glyphicon-edit edit"></h2>
	<h1 id="inner-name" class="title">{{ counter.name }}</h1></div>
	<div class="editing back">
		<h2 title="Cancel" class="glyphicon glyphicon-remove-circle cancel"></h2>
		<input type="text" class="text-center edit-input" id="{{ counter.id }}" value="{{ counter.name }}">
		<h2 title="Confirm" class="glyphicon glyphicon-ok-circle confirm"></h2>
	</div>
</div>
<!-- Counter Space -->
<div class="container-fluid" id="counter-space static">
	<div class="counter static">
		<div class="card">
			<div class="front">
				<div class="count-top text-center">
					<div class="icon-left"><a title="Delete" href="delete/{{ counter.id }}" onclick="return confirm('Are you sure you want to delete this counter?');"><h4 class="glyphicon glyphicon-trash"></h4></a></div>
					<div class="icon-right"><h4 class="glyphicon glyphicon-stats stats"></h4></div>
				</div>
				<h1 class="text-center count">{{ counter.value }}</h1>
				<div class="text-center increment">
					<button type="button" class="btn btn-number" data-type="minus">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
					<button type="button" class="btn btn-number" data-type="plus">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<input id="{{ counter.id }}" type="text" class="form-control input-number" 
						value="{{ counts }}" min="-999" max="999">
					<button type="button" class="btn update-count" onclick="ajax_increment({{ counter.id }})">Increment</button>
				</div>
			</div>
			<div class="back">
				<div class="count-top text-center">
					<div class="icon-left"><a title="Delete" href="delete/{{ counter.id }}" onclick="return confirm('Are you sure you want to delete this counter?');"><h4 class="glyphicon glyphicon-trash"></h4></a></div>
					<div class="btn-group text-center">
						<button type="button" id="week" class="btn active">Week</button>
						<button type="button" id="month" class="btn">Month</button>
						<button type="button" id="year" class="btn">Year</button>
					</div>
					<div class="icon-right"><h4 class="glyphicon glyphicon-time counts"></h4></div>
				</div>
				<div id="loading">
					<img src="{% static 'counter/media/ajax-loader.gif' %}" id="loading-image">
				</div>
				<div id="charts">
					<canvas id="charting-week"></canvas>
					<canvas class="hidden" id="charting-month"></canvas>
					<canvas class="hidden" id="charting-year"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
<h4 title="Stats" class="glyphicon glyphicon-stats stats"></h4>